<!-- <div class="container">
    <div class="row">

        <div class="col-md-12"> -->
<div class="col-sm-6 card">
    <mat-card class="example-card">
        <mat-card-header>

            <i class="material-icons">
            mood
          </i>
            <mat-card-title>Active Partners</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
            </p>
        </mat-card-content>
    </mat-card>
</div>
<div class="col-sm-6 card" style="float: right;
    margin-top: -5.5%;">
    <mat-card class="example-card">
        <mat-card-header>
            <i class="material-icons">
              mood_bad
            </i>
            <mat-card-title>Inactive Partners</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
            </p>
        </mat-card-content>

    </mat-card>
</div>
<!-- </div>

    </div>
</div> -->